[submodule ".vim/bundle/ctrlp.vim.git"]
	path = .vim/bundle/ctrlp.vim.git
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/delimitMate.git"]
	path = .vim/bundle/delimitMate.git
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/HTML-AutoCloseTag.git"]
	path = .vim/bundle/HTML-AutoCloseTag.git
	url = git://github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule ".vim/bundle/nerdcommenter.git"]
	path = .vim/bundle/nerdcommenter.git
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/syntastic.git"]
	path = .vim/bundle/syntastic.git
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-powerline.git"]
	path = .vim/bundle/vim-powerline.git
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-misc.git"]
	path = .vim/bundle/vim-misc.git
	url = git://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/vim-fugitive.git"]
	path = .vim/bundle/vim-fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/snipmate.vim.git"]
	path = .vim/bundle/snipmate.vim.git
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/minibufexpl.vim.git"]
	path = .vim/bundle/minibufexpl.vim.git
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule ".vim/bundle/nerdtree.git"]
	path = .vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-pasta.git"]
	path = .vim/bundle/vim-pasta.git
	url = git://github.com/sickill/vim-pasta.git
[submodule ".vim/bundle/vim-syntastic.git"]
	path = .vim/bundle/vim-syntastic.git
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/neocomplcache.vim"]
	path = .vim/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git://github.com/FruitieX/YouCompleteMe
[submodule ".vim/bundle/vim-easymotion.git"]
	path = .vim/bundle/vim-easymotion.git
	url = https://github.com/Lokaltog/vim-easymotion
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/base16"]
	path = .vim/bundle/base16
	url = git://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule ".vim/bundle/powerline.git"]
	path = .vim/bundle/powerline.git
	url = https://github.com/Lokaltog/powerline
[submodule ".vim/bundle/vim-airline.git"]
	path = .vim/bundle/vim-airline.git
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-bufferline.git"]
	path = .vim/bundle/vim-bufferline.git
	url = https://github.com/bling/vim-bufferline
[submodule ".vim/bundle/vim-gitgutter.git"]
	path = .vim/bundle/vim-gitgutter.git
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-minibufexpl.git"]
	path = .vim/bundle/vim-minibufexpl.git
	url = https://github.com/techlivezheng/vim-plugin-minibufexpl
[submodule ".vim/bundle/vim-airline-fruitiex.git"]
	path = .vim/bundle/vim-airline-fruitiex.git
	url = https://github.com/FruitieX/vim-airline
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree
[submodule "src/v"]
	path = src/v
	url = https://github.com/rupa/v
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/FruitieX/prezto
[submodule "src/z"]
	path = src/z
	url = https://github.com/rupa/z
