[submodule "src/v"]
	path = src/v
	url = https://github.com/rupa/v
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/FruitieX/prezto
[submodule "src/z"]
	path = src/z
	url = https://github.com/rupa/z
