"*":
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-javascript-jsx"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "disable-keybindings":
    prefixKeys: [
      "ctrl-k"
    ]
  editor:
    preferredLineLength: 100
  "exception-reporting":
    userId: "9071e8b9-6d50-df37-1f04-100d4e7870f5"
  linter:
    errorPanelHeight: 240
    showErrorTabLine: true
  minimap:
    charHeight: 1
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  zentabs:
    neverCloseUnsaved: true
